

/* 공 만들기 */
#msglotto > span {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    padding: 10px;
    margin: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 15px;



}

#spplus{
    color: black;
    font-weight: bold;
    font-size: xx-large;
}


/* 공 색깔 */
.sp0 {
    background-color: red;
    color: white;
}

.sp1{
    background-color: orange;
    color: white;
}

.sp2{
    background-color: yellow;
    color: white;
}

.sp3{
    background-color: green;
    color: white;
}

.sp4{
    background-color: blue;
    color: white;
}